{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
{% load widget_tweaks %}
{%block content %}
<div class="container">
  
  <div class='row p-1'>
    <div class="card">
      <div class="d-flex card-body justify-content-lg-start justify-content-sm-center">
        <a class='me-3 nav-link' href='#'>Profile</a>
        <a class='me-3 nav-link' href='#'>Friends</a>
        <a class='me-3 nav-link' href='#'>Articles</a>
      </div>
    </div>
  </div>
  <div class="row ">
    
    <div class="col-lg-6 p-1">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 p-2 d-flex justify-content-center">
              {% if object.user_pic %}

                  {% if 'https' in object.user_pic.url %}
                      <img
                          style="object-fit: contain;"
                          src="{{object.user_pic}}"
                          class="img-fluid rounded"
                          alt="..."
                      />
                  {% else %}
                      <img
                          style="object-fit: contain;"
                          src="{{object.user_pic.url}}"
                          class="img-fluid rounded"
                          alt="..."
                      />
                  {% endif %}

                {% else %}
                <img
                  style="object-fit: contain;"
                  src="{% static 'img/user.png' %}"
                  class="img-fluid rounded"
                  alt="..."
                />
                {% endif %}
            </div>
            <div class="col-md-8">
              <div class='col'>
                  <div class="card-body">
                    
                    <h5 class="card-title">@{{object.user.username}}</h5>
                    <hr class="p-0 my-1 m-0">
                    <div class='bg-body-secondary rounded p-2'>
                        <p class="card-text">Email: {{object.email}}</p>
                        {% if object.last_name %}
                        <p class="card-text">Last Name: {{object.last_name}}</p>
                        {% endif %} {% if object.first_name %}
                        <p class="card-text">First Name: {{object.first_name}}</p>
                        {% endif %} {% if object.phone %}
                        <p class="card-text">Phone: {{object.phone}}</p>
                        {% endif %} {% if object.birth_date %}
                        <p class="card-text">Birth date: {{object.birth_date}}</p>
                        {% endif %} {% if object.location %}
                        <p class="card-text">Location: {{object.location}}</p>
                        {% endif %} {% if object.website %}
                        <p class="card-text">Website: {{object.website|urlize}}</p>
                        {% endif %}
                    </div>
                    
                  </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="card p-3 mt-2" style="width: 100%">
            <div class="row g-0">
                <h5><b>Bio</b></h5>
                <div class='col'>
                    <div class="card-body ck-content bg-body-secondary rounded">
                        {% if object.bio %}
                            {{object.bio|safe}}
                        {% else %}
                            None
                        {% endif %}
                      
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 p-1 mt-0">
      <form method="post" class="form" enctype="multipart/form-data">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            {% csrf_token %} {% crispy form %}
            <button type="submit" class="btn btn-primary m-2">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}