{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% load widget_tweaks %} {% load i18n %} {%block content %}
<style>
  
  * {
    box-sizing: der-box;
  }
  {% comment %} .input-group {
    display:none;
  } {% endcomment %}
  .scroll::-webkit-scrollbar {
    display: none;
  }
  #myImg {
    der-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content-img, #caption-img {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .top{
    position:absolute;
    top:40%;
    display:none;
  }
  
  
 
  .close-img {
    width:50px;
    height:50px;
    position: absolute;
    top: 101px;
    opacity: 0.8;
    right: 10px;
    background-color:#000;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-img:hover,
  .close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content-img {
      width: 100%;
    }
  }
  
  figure,.ck-content img {
    
    width: 100% ;
    max-width: 100% ;
    object-fit: contain;
  }
  .comment-wrapper .panel-body {
    max-height:400px;
    overflow:auto;
    width: 100%;
   
}
@media only screen and (min-width:998px){
  .col-lg-5{
    height:100vh;
  }
  .col-lg-4{
    height:100vh;
  }
  .col-lg-3{
    height:100vh;
  }
}
@media only screen and (max-width:998px){
  .friend{
    height:300px;
  }
}
</style>
<div class="container">
  <div class="row g-0">
    <div class="col-12 p-0">
      <div class="card rounded-0 shadow-sm bg-primary text-white">
        <div class="d-flex card-body py-2 justify-content-between">
          <div class="d-flex py-2 align-items-center">
            <a class="me-3 m-0 nav-link" href="#">Profile</a>
            <a class="me-3 m-0 nav-link" href="#">Friends</a>
            <a class="m-0 nav-link" href="#">Articles</a>
          </div>
          
          {% if object.user.id != user.id %}
          <form action={% url 'friend' object.slug%} method="post" >
            {% csrf_token %}
            {% if friend_config %}
              
              <button class="btn px-2 btn-primary-emphasis p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
              </button>
        
            {% else %}
              <button class='btn px-2 btn-primary-emphasis p-1'>
              
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                </button>
            {% endif %}
        </form>
          
          {% endif %}
          
        </div>
      </div>
    </div>
   

    <div class="col-lg-4 scroll overflow-auto pt-2 ">
      
      <div class="card rounded-0 bg-white shadow-sm">
        
        <div class="row g-0">
          <div class="col-12 col">
            <div class="card-body">
          
      
              <div class="card-title rounded position-relative bg-body-secondary p-2 d-flex justify-content-center">
                {% if object.user_pic %} 
                <svg class='top' id='top' xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                </svg>
                {% if 'https' in object.user_pic.url %}
                
                  <img id="myImg"
                  style="
                  border: 5px solid #fff!important;
                  object-fit: cover;
                  width: 150px;
                  color: #fff;
                  height: 150px;
                  color: fff !important;
                  border-radius: 100%;
                "
                        src="{{object.user_pic}}"
                        class="img-full"
                        alt="..."/>
                {% else %}
                      <img id="myImg"
                      style="
                      border: 5px solid #fff!important;
                      object-fit: cover;
                      width: 150px;
                      color: #fff;
                      height: 150px;
                      color: fff !important;
                      border-radius: 100%;
                    "
                        src="{{object.user_pic.url}}"
                        class="img-full"
                        alt="..."
                      />
                {% endif %} 
              {% else %}
              <div style="width: 150px;height: 150px">
                <center>
                  <h1
                    class="text-uppercase m-0 d-flex justify-content-center align-items-center"
                    style="
                      border: 5px solid #fff!important;
                      width: 150px;
                      color: #fff;
                      height: 150px;
                      background-color: blue;
                      color: #fff !important;
                      border-radius: 100%;
                    "
                  >
                    {{object.user.username|slice:"0:1"}}
                  </h1>
                </center>
              </div>
              {% endif %}
              
            </div>
            <h5 class='d-flex justify-content-center'>
                @{{object.user.username}}
            </h5>
              <hr class="p-1 m-0" />
              <div class="p-1">
                {% if object.last_name or object.first_name  %}
                <p style="font-size: 18px" class="card-text m-0"> 
                  👤
                  {{object.last_name}} {{object.first_name}}</p>
                {% endif %}  
                <p style="font-size: 18px" class="card-text m-0">
                  📧
                  {{object.email}}</p>
                {% if object.phone %}
                <p style="font-size: 18px" class="card-text m-0">
                  ☎️
                  {{object.phone}}</p>
                {% endif %} {% if object.birth_date %}
                <p style="font-size: 18px" class="card-text m-0">
                  🥳
                  {{object.birth_date}}</p>
                {% endif %} {% if object.website %}
                <p style="font-size: 18px" class="card-text m-0">
                  🌐
                  {{object.website|urlize}}</p>
                {% endif %}
                {% if object.location %}
                <p style="font-size: 18px" class="card-text m-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="-2 0 16 20">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg>
                  {{object.location}}</p>
                {% endif %} 
              </div>
              {% if user.is_authenticated and user.id == object.user.id%}
              <hr class="my-2 p-0" />
              <a
                class="text-secondary text-decoration-none"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"
              >
              📝
                {% trans "Profilni tahrirlash" %}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded-0 shadow-sm bg-white p-3 mt-1" style="width: 100%">
        <div class="row g-0">
          <h5><b>Bio</b></h5>
          <hr class="p-1 m-0" />
          <div class="col">
            <div class="card-body p-0 ck-content ">
              {% if object.bio %} {{object.bio|safe}} {% else %} None {% endif %}
            </div>
          </div>
        </div>
      </div>
    
  </div>
    <div class="col-lg-5 px-lg-2 px-0 scroll overflow-auto">
      {% if user.is_authenticated and user.id == object.user.id%}
      <div class='card rounded-0 mt-2 shadow-sm bg-light'>
        
        <div class='card-body'>
          
          <table class='w-100'>
            <tr>
              <td>
                
                      <div class='' data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@getbootstrap" style="width:55px;height: 55px;">
                        <center>
                          <h5
                            class="rounded-circle bg-warning text-uppercase m-0 d-flex justify-content-center align-items-center"
                            style="
                              width: 55px;
                              color: #fff;
                              height: 55px;
                              
                              color: #fff !important;
                              der-radius: 100%;
                            "
                          >
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                          </svg>
                          </h5>
                        </center>
                      </div>
                     
              </td>
              <td>
                <input data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@getbootstrap" type='button' class='border-0 rounded text-secondary text-start ps-2 py-2 w-100 der-primary -pill' value="What's on your mind?">
              </td>
            </tr>
          </table>
          
          
         
        </div>
      </div>
      {% endif %}
      {% if posts.exists %}
      <div class = 'pt-1 p-0'>
        {% for post in posts.all reversed%}
        <div class='card shadow-sm bg-white mx-0 mt-1' style=''>
          <div class='card-title d-flex justify-content-between align-items-center m-1 mx-2'>
            <div class='d-flex align-items-center justify-content-start'>
              {% if object.user.profile.user_pic %}
                      
                        {% if 'https' in object.user.profile.user_pic.url %}
                        
                        <img
                          src="{{object.user.profile.user_pic}}"
                          style="
                            border: 1px solid dark;
                            object-fit: cover;
                            width: 30px;
                            color: #fff;
                            height: 30px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />
                        
                        {% else %}
                        
                        <img
                          src="{{object.user.profile.user_pic.url}}"
                          style="
                            border: 1px solid dakr;
                            object-fit: cover;
                            width: 30px;
                            color: #fff;
                            height: 30px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />
                        {% endif %}
                        
                     
                      {% else %}
                      <div style="width: 30px;height: 30px">
                        <center>
                          <h5
                            class="text-uppercase m-0 d-flex justify-content-center align-items-center"
                            style="
                              width: 30px;
                              color: #fff;
                              height: 30px;
                              background-color: blue;
                              color: #fff !important;
                              border-radius: 100%;
                            "
                          >
                            {{object.user.username|slice:"0:1"}}
                          </h5>
                        </center>
                      </div>
                      {% endif %}
                      <div class='d-flex flex-column bd-highlight'>
                      <p class='ps-2 fw-bold p-0 m-0' style='font-size:16px'>{{object.user.username}}</p><date class='ps-2 p-0 m-0' style='font-size:10px'>{{object.created}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 20">
                          <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                          <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                          <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                      </date>
                      </div>
            </div>
            {% if post.user.id == user.id%}
      <div class="dropdown show">
          <button role="button"class='btn border-0 p-0' data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </button>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">
             
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 20">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
              Delete
            </a></li>
            <li><a class="dropdown-item" href="#">
              
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 20">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
              Edit
            </a></li>
            
          </ul>
        </div>
        {% endif %}
          </div>
          <hr class="m-0 p-0"/>
          <div class='card-body ck-content'>
            
            
          {{post.post|safe}}
          </div>
        </div>
        {% endfor %}
        
      </div>
      {% else %}
      <div class='card shadow-sm bg-white mt-2'>
        <div class='card-body'>
        <h5 class='m-0'><center>There are no posts yet</center></h5>
        </div>
      </div>
      {% endif %}
      <div class='card rounded-0 rounded-top mt-1'>
        <div class='card-body text-secondary d-flex justify-content-center'>
          📆 {{object.user.created}} Qushilgan
        </div>
       
      </div>
      
    </div>
    <div class="col-lg-3 pt-2 scroll overflow-auto">
      
      <div class="card rounded-0 bg-white shadow-sm" style="width: 100%">
        <div class="row g-0 bg-light">
          <div class='d-flex justify-content-between px-2 py-2 align-items-center'>
          <p class='p-0 m-0'>({{object.user.profile.total_friends}})<b class='' style='font-size:20px'>🫂</b></p>
          <b class='' style='font-size:18px'>See all friends</b>
          </div>
          <hr class="m-0"/>
          <div class="col bg-white der">
            <div class="card-body friend px-1 scroll overflow-auto ">
              {% if object.user.profile.friends.exists %}
              <table class='w-100'>
              {% for friend in object.user.profile.friends.all %}
                  <tr class='border-bottom border-dakr border-0'>
                    
                    <td class='p-1'>
                      {% if friend.profile.user_pic %}
                      
                        {% if 'https' in friend.profile.user_pic.url %}
                        
                        <img
                          src="{{friend.profile.user_pic}}"
                          style="
                            border: 1px solid dark;
                            object-fit: cover;
                            width: 40px;
                            color: #fff;
                            height: 40px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />
                        
                        {% else %}
                        
                        <img
                          src="{{friend.profile.user_pic.url}}"
                          style="
                            border: 1px solid dakr;
                            object-fit: cover;
                            width: 40px;
                            color: #fff;
                            height: 40px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />
                        {% endif %}
                        
                     
                      {% else %}
                      <div style="width: 40px;height: 40px">
                        <center>
                          <h5
                            class="text-uppercase m-0 d-flex justify-content-center align-items-center"
                            style="
                              width: 40px;
                              color: #fff;
                              height: 40px;
                              background-color: blue;
                              color: #fff !important;
                              border-radius: 100%;
                            "
                          >
                            {{friend.username|slice:"0:1"}}
                          </h5>
                        </center>
                      </div>
                      {% endif %}

                    </td>
                    <td class='p-1 w-100'>
                      <a class='text-dark text-decoration-none' href="{% url 'profile' friend.profile.slug %}">
                      {{friend.username|slice:"0:15"}}
                      </a>
                    </td>
                  
                    {% if user.is_authenticated and user.id == object.user.id%}
                    <td class='p-1'>
                      <form class='p-0 m-0' action="{% url 'friends_remove' friend.profile.slug %}" method="post" >
                        {% csrf_token %}
                          
                            <button
                              style="font-size: 18px"
                              class="me-2 text-decoration-none text-danger btn border-0"
                              href=""
                              >
                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            </button>
                    </td>
                    {% endif %}
                  </tr>
               

              {% endfor %}
              </table>
              {% else %}
              <div class='p-1'>Your friends are not available</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
{% if user.is_authenticated and user.id == object.user.id%}
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Profile Data Edit
              </h1> 📝 
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body px-md-3 px-1">
              <form action="{% url 'save' object.user.profile.slug %}"
                method="post"
                class="form"
                
                enctype="multipart/form-data"
              >
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                    {{ form.media }}
                    {% csrf_token %} {% crispy form %}
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary m-2">
                        Edit Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_post' %}"
                method="post"
                class="form"
                novalidate
                enctype="multipart/form-data"
              >
              
              {% csrf_token %}
              {{post_form }}
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary m-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  </svg>
                  <b>Post</b>
                </button>
              </div>
              
</form>
      </div>
      
    </div>
  </div>
</div>
{% endif %}
<div id="myModal" class="modal-img">
  <div class='close-img'>
    <span class="d-flex justify-content-center align-items-center" style='height:50px;'>&times;</span>
  </div>
    <img class="modal-content-img" id="img01">

  <div id="caption-img"></div>
</div>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  img.addEventListener("mouseover", hover);
  img.addEventListener("mouseleave", hover1);
  function hover(){
    document.getElementById("top").style.display='block';
  }
  function hover1(){
    document.getElementById("top").style.display='none';
  }
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption-img");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close-img")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>
  
{% endblock %}
