{% extends 'base.html' %} 
{% load i18n %} 
{% load static %}
{% load crispy_forms_tags %} 

{%block title %} 
  {% trans "Roʻyxatdan oʻtish" %} 
{% endblock title %} 

{% block content %}
<div class="container d-flex justify-content-center">
  <form method="post" class="form-signup mt-3 ">
    <div class="row d-flex justify-content-center">
      <div class="card col">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <div class ='card-title'>
              <center>  
                <img src={% static 'img/signup-icon.png' %} style=''  width='100' height='100' />
              </center>
              <h4><b>{% trans "Roʻyxatdan oʻtish" %}</b></h4>
            </div>
          </div>
          <p class="card-text mb-1">
            Akauntingiz bormi? <a href="{% url 'account_login' %}">Kirish</a>
          </p>
          {% csrf_token %} {% crispy form %}
          <hr/>
          <p><i class="bi bi-info-circle-fill"></i> Siz davom etish orqali Bizning <b>Xizmat shartlari</b> uchun rozilik berasiz va bizning <b>Maxfiylik siyosati</b> bilan tanishganingizni tastiqlaysiz.</p>
          <div class="row g-1 gap-2 mb-3">
            <button type="submit" style='font-weight: bold;' class="btn btn-primary col"><i class="bi bi-person-add"></i> {% trans "Davom eting"%}</button>
            <button type="reset" style='font-weight: bold;' class="btn btn-outline-success col"><i class="bi bi-arrow-counterclockwise"></i> {% trans "Qayta o'rnatish" %}</button>
          </div>
        </div>
        <dev class="card-footer"></div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}