[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
python-dotenv = "*"
djangorestframework = "*"
django-phonenumber-field = "*"
django-ckeditor-5 = "*"
phonenumbers = "*"
django-autoslug = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-widget-tweaks = "*"
django-rest-auth = "*"
django-jazzmin = "*"
django = "*"
django-hitcount = "*"
django-filter = "*"
django-ratelimit = "*"
django-pagination-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.11"
