[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
python-dotenv = "*"
djangorestframework = "*"
django-phonenumber-field = "*"
django-ckeditor-5 = "*"
phonenumbers = "*"
django-autoslug = "*"
django-allauth = "*"
django = "*"
django-admin-interface = "*"
django-colorfield = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
