<footer class="footer-distributed mt-2">
    <div class="footer-right">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-telegram"></i></a>
      <a href="#"><i class="bi bi-github"></i></i></a>
    </div>
  
    <div class="footer-left">
      <p class="footer-links">
        <a class="link-1" href="#">Home</a>
        <a href="#">Articles</a>
        <a href="#">Channels</a>
        <a href="#">About</a>
      </p>
  
      <p>Company Name &copy; 2015</p>
    </div>
</footer>