{% extends 'base.html' %} {% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% block title %}
{% trans "Maqolalat Sahifasi" %}
{% endblock %}
{% block content %}
<style>
    * {
        box-sizing: border-box;
      }
    img{
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .sc{
        display:none;
    }

</style>

<div class="container py-3">
    <div class='w-100'>
        <div class='mb-3'>
            <div class='row py-0'>
                <div class='col-lg-6'>
                    {% autopaginate object_list 12 %}

                    {% if paginator.num_pages %}
                    <div class="pagination">
                        {% paginate %}
                    </div>
                    {% endif %}
                </div>
                <div class='col-lg-6'>
                    <form class="d-flex justify-content-end row " method='GET'>
                        <div class='col-9 col-lg-10 pe-0'>
                        {{filter.form}}
                        </div>
                        <div class='col-3 ps-0 col-lg-2 '>
                            <button class='rounded-start-0 w-100 shadow-none btn btn-outline-primary'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='card rounded-0 p-1 bg-white'>
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-1">

        {% for article in object_list.all %}
        <div class="col">
            <div class="card bg-body-tertiary border-0 h-100">
                {% if article.image_at %}
                <img src="{{article.image_at.url}}" class="card-img-top rounded-0" alt="...">
                {% else %}
                <img src="{% static 'img/woocommerce-placeholder-300x300.png' %}" class="card-img-top rounded-0" alt="...">
                {% endif %}
              <div class="card-body px-2">

                <div class="d-flex justify-content-start align-items-bottom">

                        <a class='text-decoration-none text-dark' href={% url 'profile' article.author.profile.slug%}>
                    {% if article.author.profile.user_pic %}

                        {% if 'https' in article.author.profile.user_pic.url %}

                        <img
                          src="{{article.author.profile.user_pic}}"
                          style="

                            object-fit: cover;
                            width: 28px;
                            color: #fff;
                            height: 28px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />

                        {% else %}

                        <img
                          src="{{article.author.profile.user_pic.url}}"
                          style="

                            object-fit: cover;
                            width: 28px;
                            color: #fff;
                            height: 28px;
                            color: fff !important;
                            border-radius: 100%;
                          "
                        />
                        {% endif %}


                      {% else %}
                      <div style="width: 28px;height: 28px">
                        <center>
                          <h5
                            class="text-uppercase m-0 d-flex justify-content-center align-items-center"
                            style="
                              width: 28px;
                              color: #fff;
                              height: 28px;
                              background-color: blue;
                              color: #fff !important;
                              border-radius: 100%;
                            "
                          >
                            {{article.author.username|slice:"0:1"}}
                          </h5>
                        </center>
                      </div>
                      {% endif %}
                     <b style='font-size:16px;' class='ps-1'>
                    {{article.author}}
                    </b>
                    </a>

                    </div>
                    <div class='cart-title pt-1 ps-1'>
                        <a href={% url 'article_detail' article.slug%}>#{{article}}</a>
                    </div>
                <p class="card-text"></p>
              </div>
              <div class='card-footer px-2 bg-body-tertiary border-0 rounded-0'>
                <div class="card-text d-flex justify-content-between"><small class="text-muted"><p style='font-size:16px;'>{{article.created_at}}</p></small><p style='font-size:16px;' class='text-muted'>{{article.hit_count.hits}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 18">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                </p></div>
            </div>
            </div>
          </div>
        {% endfor %}
        </div>
        </div>

</div>
<script>
    var label=document.querySelector("label[for='id_title_at__icontains']");
    var input_search=document.querySelector("#id_title_at__icontains");
    let input = document.querySelector('#id_title_at__icontains')
    input_search.classList.add('rounded-end-0')
    input_search.classList.add('shadow-none')
    label.classList.add("sc")
    input.classList.add("form-control", "w-100")
</script>
{% endblock content %}
